@import "~bootstrap/scss/bootstrap.scss";



.container {
background-color: #f39c12;
height: 400px;
width: 160px;
border-radius: 20px;
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
text-align: center;
}

.light {
position: relative;
border-radius: 50%;
width: 100px;
height: 100px;
margin: 15px;
margin-top: 20px;
}

.greenLight{
    box-shadow: #26ff12 0px 0px 50px 20px;
}
.yellowLight{
    box-shadow: #f2ff9c 0px 0px 50px 20px
}
.redLight{
    box-shadow: #f54949 0px 0px 50px 20px
}

#green {
background-color: green;
}

#yellow {
background-color: yellow;
}

#red {
background-color: red;
}