@import "~bootstrap/scss/bootstrap.scss";

.container{
    width: 200;
    height: 600;
    background: black;
    margin-top: 10;
    border-radius: 25;
    text-align: center;
}

.light{
    width: 180;
    height: 180;
    background: red;
    border-radius: 50%;
    margin: auto;
    margin-top: 10;   
}